/* HomePage.css */
:root {
  --baseColor: #191919;
  --baseFontColor: white;
  --baseColorLight: #2e2e2e;
  --fontDark: #999999;
  --btnPrimaryColor: #019963;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; /* Adjust as needed */
  background-color: var(--baseColor);
  color: var(--baseFontColor);
  font-family: Inter;
  font-size: 14px;
}

.w-90 {
  width: 90%;
}

.font-large {
  font-size: 22px;
}

.text-dimmed {
  color: var(--fontDark) !important;
}

.sticky-header {
  width: 100%;
  background-color: var(--baseColor);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hyperlink {
  cursor: pointer;
}

.input-div {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: var(--baseColorLight);
  padding-left: 20px;
  color: var(--baseFontColor);
}
.text-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.btn-primary {
  width: 100%;
  background-color: #019963;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limit-max-width {
  max-width: 540px;
}
