.Home {
  background-color: #404249;
  height: 100vh;
  width: 100vw;
  color: white;
  .sticky-header {
    color: #04aa6d;
    height: 100px;
    display: flex;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
  .due-amount {
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .text-green {
    cursor: pointer;
    color: #04aa6d;
    text-decoration: underline;
  }
  .transaction-history {
    padding-top: 20px;
    padding-left: 20px;
    background-color: #202124;
    height: 100%;
    color: #c3c6d6;
    display: flex;
    justify-content: center;
    .transaction-details {
      display: flex;
      align-items: center;
      .transaction-day,
      .transaction-type,
      .transaction-info {
        margin-right: 20px;
      }
    }
  }
}
